@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    background-image: url(IMG/bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    color: #1E4B7D;
    font-family: 'Merriweather', serif;
    background-color: #1E4B7D;
    text-align: center; 
}

.title{
    box-shadow: 0px -10px 1000px 1px rgb(50, 50, 50);
    box-shadow: 0px 3px 1000px 1px rgb(50, 50, 50);
    text-align: center;
    border-radius: 5px;
    margin: 50px 50px 0px 50px;
    padding: 20px;
    display: inline-block;
    background-color: #ffffff;
}

p{
    border-radius: 5px;
    margin: 10px 50px 50px 50px;
    padding: 20px;
    display: inline-block;
    background-color: #ffffff;
}

img{
    display:inline;
    border-radius: 5px;
    vertical-align:middle;
    padding: 20px 135px; 
    background-color: #ffffff;
}

button{
    vertical-align: middle;
    font-weight: bold;
    color: #1E4B7D;
    font-family: 'Merriweather', serif;
    margin: 20px 100px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    display: inline-block
}

.ending{
    margin-top: 50px ;
}